.github/workflows.yml
[{"id":"996ba8d9.d421f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9d43238e.3968a8","type":"rpi-gpio out","z":"996ba8d9.d421f8","name":"led1","pin":"13","set":"","level":"0","freq":"","out":"out","x":290,"y":400,"wires":[]},{"id":"c33f4c56.5d0fd","type":"ui_switch","z":"996ba8d9.d421f8","name":"","label":"Sala","tooltip":"","group":"776fc822.62c3e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":130,"y":460,"wires":[["9d43238e.3968a8"]]},{"id":"6f65e4c0.0ce6cc","type":"rpi-gpio in","z":"996ba8d9.d421f8","name":"sensor de iluminacion","pin":"8","intype":"tri","debounce":"25","read":false,"x":100,"y":360,"wires":[["9d43238e.3968a8","74519234.7d9e2c","f99b1188.b93b5","8db6ba2a.07988","cf4b9ab8.cf31a"]]},{"id":"74519234.7d9e2c","type":"rpi-gpio out","z":"996ba8d9.d421f8","name":"led2","pin":"12","set":"","level":"0","freq":"","out":"out","x":610,"y":420,"wires":[]},{"id":"5daea53b.27fe94","type":"ui_switch","z":"996ba8d9.d421f8","name":"","label":"Comedor","tooltip":"","group":"776fc822.62c3e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":460,"y":480,"wires":[["74519234.7d9e2c"]]},{"id":"f99b1188.b93b5","type":"rpi-gpio out","z":"996ba8d9.d421f8","name":"led3","pin":"22","set":"","level":"0","freq":"","out":"out","x":270,"y":560,"wires":[]},{"id":"85c9347b.aff09","type":"ui_switch","z":"996ba8d9.d421f8","name":"","label":"Cocina","tooltip":"","group":"776fc822.62c3e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":120,"y":620,"wires":[["f99b1188.b93b5"]]},{"id":"8db6ba2a.07988","type":"rpi-gpio out","z":"996ba8d9.d421f8","name":"led4","pin":"18","set":"","level":"0","freq":"","out":"out","x":630,"y":560,"wires":[]},{"id":"c760ed1d.724b38","type":"ui_switch","z":"996ba8d9.d421f8","name":"","label":"Dormitorio","tooltip":"","group":"776fc822.62c3e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":490,"y":620,"wires":[["8db6ba2a.07988"]]},{"id":"95ae6723.3272a","type":"rpi-gpio out","z":"996ba8d9.d421f8","name":"ventilador","pin":"16","set":"","level":"0","freq":"","out":"out","x":300,"y":680,"wires":[]},{"id":"830369f7.5fd428","type":"ui_switch","z":"996ba8d9.d421f8","name":"","label":"Sistema de ventilacion","tooltip":"","group":"776fc822.62c3e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":120,"y":740,"wires":[["95ae6723.3272a"]]},{"id":"50b8d8ea.4f62f","type":"rpi-gpio in","z":"996ba8d9.d421f8","name":"sensor de temperatura","pin":"37","intype":"tri","debounce":"25","read":false,"x":100,"y":660,"wires":[["95ae6723.3272a"]]},{"id":"cf4b9ab8.cf31a","type":"rpi-gpio out","z":"996ba8d9.d421f8","name":"bombilla 120ac","pin":"31","set":"","level":"0","freq":"","out":"out","x":660,"y":680,"wires":[]},{"id":"aff22c4.2cf29d","type":"ui_switch","z":"996ba8d9.d421f8","name":"","label":"Alumbrado publico","tooltip":"","group":"776fc822.62c3e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":510,"y":740,"wires":[["cf4b9ab8.cf31a"]]},{"id":"ecbdda3a.f2143","type":"rpi-gpio out","z":"996ba8d9.d421f8","name":"bomba de agua","pin":"38","set":"","level":"0","freq":"","out":"out","x":300,"y":820,"wires":[]},{"id":"3c1370d4.4d2508","type":"ui_switch","z":"996ba8d9.d421f8","name":"","label":"Sistema de riego","tooltip":"","group":"776fc822.62c3e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":150,"y":880,"wires":[["ecbdda3a.f2143"]]},{"id":"2e50675f.2e5328","type":"rpi-gpio in","z":"996ba8d9.d421f8","name":"sensor de humedad","pin":"32","intype":"tri","debounce":"25","read":false,"x":90,"y":800,"wires":[["ecbdda3a.f2143"]]},{"id":"e9fa9ffe.4190c8","type":"arduino out","z":"996ba8d9.d421f8","name":"Servo1","pin":"9","state":"SERVO","arduino":"eae0f032.9fbd68","x":300,"y":280,"wires":[]},{"id":"51c3dbd4.5d7044","type":"ui_slider","z":"996ba8d9.d421f8","name":"","label":"Puerta","tooltip":"","group":"5aefa46a.a6e244","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"90","step":1,"className":"","x":130,"y":280,"wires":[["e9fa9ffe.4190c8","64dab738.18e68"]]},{"id":"64dab738.18e68","type":"range","z":"996ba8d9.d421f8","minin":"0","maxin":"90","minout":"0","maxout":"90","action":"scale","round":false,"property":"payload","name":"","x":290,"y":200,"wires":[["f4e20820.083978"]]},{"id":"f4e20820.083978","type":"ui_gauge","z":"996ba8d9.d421f8","name":"","group":"5aefa46a.a6e244","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"degree","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":450,"y":200,"wires":[]},{"id":"e33e6867.787d48","type":"arduino out","z":"996ba8d9.d421f8","name":"Servo2","pin":"8","state":"SERVO","arduino":"eae0f032.9fbd68","x":740,"y":300,"wires":[]},{"id":"fa9ceb12.704a2","type":"ui_slider","z":"996ba8d9.d421f8","name":"","label":"Porton","tooltip":"","group":"da6fe5db.e7129","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":570,"y":300,"wires":[["e33e6867.787d48","d9bd0564.a1d6f"]]},{"id":"d9bd0564.a1d6f","type":"range","z":"996ba8d9.d421f8","minin":"0","maxin":"100","minout":"0","maxout":"90","action":"scale","round":false,"property":"payload","name":"","x":730,"y":220,"wires":[["5818e86a.ef0518"]]},{"id":"5818e86a.ef0518","type":"ui_gauge","z":"996ba8d9.d421f8","name":"","group":"da6fe5db.e7129","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"degree","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":890,"y":220,"wires":[]},{"id":"528ecb9f.00078c","type":"rpi-srf","z":"996ba8d9.d421f8","name":"","topic":"SRF","pulse":"0.5","pins":"21,19","precision":"0","x":520,"y":840,"wires":[["4e741dce.e69fc4"]]},{"id":"4e741dce.e69fc4","type":"debug","z":"996ba8d9.d421f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":840,"wires":[]},{"id":"2141422.dbc5e3e","type":"vcgencmd","z":"996ba8d9.d421f8","name":"","fullPath":"/opt/vc/bin/vcgencmd","command":"measure_temp","codec":"H264","clock":"core","voltage":"core","memory":"arm","videoOutput":"0","separateMsg":false,"x":490,"y":1140,"wires":[["ca8429fa.c9e638","d130ece5.deb2e8"]]},{"id":"32335c48.bf81cc","type":"inject","z":"996ba8d9.d421f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":1140,"wires":[["2141422.dbc5e3e"]]},{"id":"d130ece5.deb2e8","type":"ui_gauge","z":"996ba8d9.d421f8","name":"","group":"def065f9.7056b","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperatura","label":"units","format":"{{value}}","min":"30","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":1220,"wires":[]},{"id":"ca8429fa.c9e638","type":"debug","z":"996ba8d9.d421f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":1140,"wires":[]},{"id":"776fc822.62c3e","type":"ui_group","name":"Control de interiores","tab":"4a417a40.8209d4","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"eae0f032.9fbd68","type":"arduino-board","device":"/dev/ttyACM0"},{"id":"5aefa46a.a6e244","type":"ui_group","name":"Puerta","tab":"4a417a40.8209d4","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"da6fe5db.e7129","type":"ui_group","name":"Porton","tab":"4a417a40.8209d4","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"def065f9.7056b","type":"ui_group","name":"Temperatura","tab":"4a417a40.8209d4","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4a417a40.8209d4","type":"ui_tab","name":"My home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
